<div class="form-signin">
    <div ng-hide='currentUser'>
        <form>
            <input ng-model="newUser.email" type="email" class="form-control" placeholder="Email address" Required>
            <input ng-model="newUser.password" type="password" class="form-control" placeholder="Password" Required>
            <button ng-click="login(newUser.email, newUser.password)" class="btn btn-lg btn-primary btn-block" type='submit'>Login</button>
            <button ng-click="register(newUser.email, newUser.password)" class="btn btn-lg btn-success btn-block" type='submit'>Register</button>
            <button ng-show='reset' ng-click="resetPassword(newUser.email, newUser.password)" class="btn btn-lg btn-info btn-block" type='submit'>Reset password</button>
        </form>
        <br />
        <center>
            <div github class='btn' ng-click='github()'></div>
            <div google class='btn' ng-click='google()'></div>
            <div twitter class='btn' ng-click='twitter()'></div>
        </center>
    </div>

</div>

