<div class="form-signin">
    <h2 class="form-signin-heading" ng-if="currentUser">{{currentUser.email}}</h2>
    <div ng-hide='currentUser'>
        <form>
            <input ng-model="newUser.email" type="email" class="form-control" placeholder="Email address" Required>
            <input ng-model="newUser.password" type="password" class="form-control" placeholder="Password" Required>
            <button ng-click="login(newUser.email, newUser.password)" class="btn btn-lg btn-primary btn-block" type='submit'>Login</button>
            <button ng-click="register(newUser.email, newUser.password)" class="btn btn-lg btn-success btn-block" type='submit'>Register</button>
            <button ng-show='reset' ng-click="resetPassword(newUser.email, newUser.password)" class="btn btn-lg btn-info btn-block" type='submit'>Reset password</button>
        </form>
        <br />
        <center>
            <div github class='btn' ng-click='github()'></div>
            <div google class='btn' ng-click='google()'></div>
            <div twitter class='btn' ng-click='twitter()'></div>
        </center>
    </div>
    <div ng-show='currentUser'>
        <center>
            <avatar provider='{{provider}}'></avatar>
            <br />
            <br />
            <form ng-show='provider==="password"' ng-submit="changePassword(newUser.oldPassword, newUser.newPpassword)">
                <input ng-model="newUser.oldPassword" type="password" class="form-control" placeholder="Current Password" Required>
                <input ng-model="newUser.newPpassword" type="password" class="form-control" placeholder="New Password" Required>
                <button  class="btn btn-lg btn-warning btn-block" type='submit'>Update</button>
            </form>
            <br />
            <br />
            <button ng-click="logout()" class="btn btn-lg btn-primary btn-block">Logout</button>
        </center>
    </div>
</div>

